* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="text"],
.input-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.switch-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.switch-area label {
    margin-right: 10px;
}

.switch-area input[type="checkbox"]:checked {
    background-color: #09df1b;
}

.switch-area input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
}

.switch-area input[type="checkbox"]::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.2s;
}

.switch-area input[type="checkbox"]:checked::before {
    transform: translateX(20px);
}

.button-area {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-area button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.button-area button:hover {
    background-color: #0069d9;
}

.output-area {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.output-area h2 {
    margin-top: 0;
}

.notice {
    position: relative;
    padding: 20px;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


.info-area {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.info-area p {
    margin: 0;
    font-weight: bold;
    font-style: italic;
    color: #777;
}